@import "tailwindcss";

@theme {
	--font-sans: "Geist Mono Variable", monospace;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 100;
	}
}
@theme {
	--animate-fade-in: fade-in var(--tw-default-easing-function) var(--tw-default-easing-duration);
}
